---
import Layout from 'layouts/Layout.astro'
---

<Layout title="Not Found">
  <div class="m-auto flex max-w-2xl flex-col items-center justify-center">
    <h1
      class="mb-4 text-8xl font-bold tracking-tight text-black dark:text-white md:text-9xl"
    >
      404
    </h1>
    <h2 class="mb-8 text-3xl font-bold tracking-tight md:text-4xl">Page not found</h2>
    <a
      href="/"
      class="mx-auto w-64 rounded-md bg-slate-100 p-2 text-center font-bold dark:bg-slate-900 sm:p-4"
    >
      Return Home
    </a>
  </div>
</Layout>
