---
import Layout from "layouts/Layout.astro";
---

<Layout title="Not Found">
  <div class="flex flex-col justify-center items-center max-w-2xl m-auto">
    <h1 class="font-bold text-8xl md:text-9xl tracking-tight mb-4 text-black dark:text-white">
      404
    </h1>
    <h2 class="font-bold text-3xl md:text-4xl tracking-tight mb-8"> Page not found</h2>
    <a href="/" class="p-2 sm:p-4 w-64 font-bold mx-auto bg-slate-100 dark:bg-slate-900 text-center rounded-md">
        Return Home
    </a>
  </div>
</Layout>
